.pageDown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
    transform: translateY(-45px);


}
@keyframes verticalMove{
    0% {transform: translateY(0);}
    50% {transform: translateY(15px);}
    100% {transform: translateY(0);}
}

#iconImage > img{
    max-width: 34px;
    cursor: pointer;
    animation: verticalMove 1s infinite;
}

#iconImage > img:hover{
    animation-play-state: paused;
}
